@using DecathlonWebshop.Auth;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageTitle</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @*use client side validation*@
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">@Localizer["TXT_Home"]</a></li>
                        @await Component.InvokeAsync("CategoryMenu")
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                        {
                            @await Component.InvokeAsync("AdminMenu")
                            <li class="dropdown">
                                <a asp-controller="ProductManagement"
                                   asp-action="Index">@Localizer["TXT_ProductManagement"]</a>
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-responsive" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" asp-append-version="true" />
                </p>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
            <hr>
            <footer>
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; @System.DateTime.Now.Year - Localization</p>
                    </div>
                    <div class="col-md-6 text-right">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>
                </div>
            </footer>
            @*@await Html.PartialAsync("LanguageSelection")*@
        </div>
    </div>
    @RenderSection("scripts", required: false);
</body>
</html>
