@model IEnumerable<Product>
@inject IViewLocalizer Localizer

<h2>@Localizer["TXT_Title"]</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">@Localizer["TXT_NoProducts"]</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>@Localizer["TXT_ProductId"]</th>
            <th>@Localizer["TXT_Image"]</th>
            <th>@Localizer["TXT_Name"]</th>
            <th>@Localizer["TXT_InStock"]</th>
            <th>@Localizer["TXT_Price"]</th>
            <th>@Localizer["TXT_Actions"]</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td><img src="@product.ImageThumbnailUrl" /></td>
                <td>@product.Name</td>
                <td><input type="checkbox" asp-for="@product.InStock" />
                <td>@product.Price</td>
                <td>
                    <form asp-action="DeleteProduct" asp-route-productId="@product.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditProduct" asp-route-productId="@product.Id">@Localizer["TXT_Edit"]</a>
                        <button type="submit" onclick="return confirm('@Localizer["TXT_Confirmation"] @product.Name');" class="btn btn-sm btn-danger">
                            @Localizer["TXT_Delete"]
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
<p>
    <a class="btn btn-primary" asp-action="AddProduct"> @Localizer["TXT_AddNewProduct"]</a>
</p>

